# MAP PROVIDER (Mapbox or Google)
MAP_PROVIDER=Mapbox

# API Keys
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
GOOGLE_MAP_API_KEY=your_google_map_api_key_here

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Google Cloud Storage
GOOGLE_STORAGE_BUCKET=your_google_storage_bucket_name

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:5139/payment-response
PAYOS_CANCEL_URL=http://localhost:5139/pricing