@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    @{
        var mapProvider = Configuration["MAP_PROVIDER"] ?? "Vietmap";
    }
    
    @if (mapProvider == "Vietmap")
    {
        <link href="libs/vietmap/vietmap-gl.css" rel="stylesheet" />
    }
    else
    {
        <link href="libs/mapbox/mapbox-gl.css" rel="stylesheet" />
    }
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    
    @if (mapProvider == "Vietmap")
    {
        <script src="libs/vietmap/vietmap-gl.js"></script>
        <script src="vietmapInterop.js"></script>
    }
    else
    {
        <script src="libs/mapbox/mapbox-gl.js"></script>
        <script src="mapInterop.js"></script>
    }
    <script src="_content/Blazor-ApexCharts/js/apexcharts.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apex-charts.js"></script>
</body>

</html>
